{% extends "template.html" %}
{% block content %}
<div class="header">
    <h2>Welcome to the Flask Blog!</h2>
</div>
<p><a href="/logout">Logout</a></p>
<div class="add">
    <h3>Add a new post:</h3>
    <form action="{{ url_for('add') }}" method="POST" class="add">
        <label><strong>Title:</strong></label>
        <input name="title" type="text">
        <p><label><strong>Post:</strong></label><br/>
        <textarea name="post" rows="5" cols="40"></textarea></p>
        <input class="button" type="submit" value="Save">
    </form>
</div>
<br/>
<br/>
<h3>Posts:</h3>
{% for p in posts %}
    <div class="post">
        <strong>Date:</strong> {{ p.date }} <br/>
        <strong>Title:</strong> {{ p.title }} <br/>
        <strong>Post:</strong> {{ p.post }} <br/>
    </div>
{% endfor %}
{% endblock %}
