h1 {
    font-size: 38.5px;
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 31.5px;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.new {
    margin: 2em auto;
    width: 60em;
    border: 2px solid #d4d4d4;
    padding: .8em;
   # background: #fafafa;
}

.flash, .error {
    background: #deebf8;
    padding: .5em;
}

footer {
    margin: 2em auto;
    width: 60em;
    padding: .8em;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #000));
    background: -moz-linear-gradient(center top, #000 5%, #000 100%);
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #000;
    border-left: 1px solid #e1eef4;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #e1eef4;
    color: #000;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
